//Fontes:

$fonte: 'Roboto', sans-serif;

//Cores:

$cor-um: #7286D3;
$cor-dois: #8EA7E9;
$cor-tres: #E5E0FF;
$cor-quatro: #FFF2F2;
$cor-cinco: #FFFFFF;
$cor-seis:#000000;

//Tamanho das Fontes:

$tamanho-do-texto: 3rem;